
<br />
<br />

    <form class="form-signin hoverable">
        <h4 class="form-signin-heading" style="font-size:16px;margin-bottom:3vh;">Please sign in</h4>


        <div class="input-field">
            <input type="text" placeholder="username"  class="form-control" ng-model="username" required><br>
        </div>



        <div class="input-field">
            <input type="password" placeholder="Password"  class="form-control" ng-model="password" required><br>
        </div>        
        <p>
            <input type="checkbox" id="test6"/>
            <label for="test6" style="font-size:14px;">Remember me</label>  
        </p>  
        <p>
            <span class="red-text darken-5 login-error">{{errormessage}}</span>
        </p>


         <button class="button indigo darken-4  waves-effect waves-light btn" ng-click="login(username,password)">Login</button><br />
        <div class="btn btn-flat blue-grey lighten-5   waves-effect waves-light btn" >Forgot password?</div>

    </form>




