

<div class="container-fluid">
    <div class="row">

        <br />
        <br />
        <br />

        <div class="col-md-9 col-md-offset-3 col-md-10 col-md-offset-2 main">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <button class="btn btn-block indigo darken-1 btn" ng-click="bysem()">Get By Sem</button>
                </div>

                <div class="col-lg-6  col-md-6 col-sm-6 col-xs-6">
                    <button class="btn btn-block indigo darken-2" ng-click="bytime()">Get By Time</button>
                </div>

            </div>




            <div class="hidden box col-lg-12" id="getbysem">
                <form class="col-lg-12 form-horizontal" ng-submit="gettrans(frm)">
                    <div class="row">
                        <input type="hidden" name="submitted" value="true" />

                        <fieldset>

                            <div class="input-field col-lg-4 col-md-4   ">
                                <input placeholder="year" type="text" ng-model="frm.year" required>
                            </div>


                            <div class="input-field col-lg-4 col-md-4">
                                <input placeholder="semester" type="text" ng-model="frm.sem" required>
                            </div>


                            <div class="input-field col-lg-3 col-md-3">
                                <button class="btn btn-block indigo darken-4 btn" id="submit1" type="submit">Get Results</button>
                                <button type="button" class="btn  hidden" disabled id="loader1">
                                    <div data-loader="circle" style="float:left"></div>loading....
                                </button>
                            </div>


                        </fieldset>

                    </div>
                </form>  <br />
            </div>



            <div class="hidden box col-lg-12" id="getbyperiod">
                <form class="col-lg-12 form-horizontal" ng-submit="gettransbytime(frm)">
                    <div class="row">
                        <input type="hidden" name="submitted" value="true" />

                        <fieldset>

                            <div class="input-field col-lg-3 col-md-3">
                                <input placeholder="year" type="text" ng-model="frm.yearr" required>
                            </div>


                            <div class="input-field col-lg-3 col-md-4">
                                <input placeholder="semester" type="text" ng-model="frm.semm" required>
                            </div>
                            <div class="col-lg-3 col-md-4">
                                <label>EXAMINATION PERIOD</label>
                                <select class="form-control" id="sel1" required ng-model="frm.period">
                                    <option value="" disabled selected>Categories</option>
                                    <option value="MID-SEM">Mid Semester Examinations</option>
                                    <option value="END-SEM">End Semester Examinations</option>
                                </select>
                                <br>
                            </div>





                            <div class="input-field col-lg-3 col-md-3">
                                <button class="btn btn-block indigo darken-4 btn" id="submit2" type="submit">Get Results</button>
                                <button type="button" class="btn  hidden" disabled id="loader2">
                                    <div data-loader="circle" style="float:left"></div>loading....
                                </button>
                            </div>
                        </fieldset>

                    </div>
                </form>
                <br />
            </div>








        </div>

        <div class="col-md-9 col-md-offset-3 col-md-10 col-md-offset-2 main">

            <div class="hidden" id="getbysemf">

                <div class="panel panel-default scrollable customscrl">
                    <div class="panel-heading">
                        <center class="maxwell" style="font-size:20px">Full Semester Results</center>
                    </div>
                    <div class="panel-body">
                        <div style="overflow-y:scroll" class="customscrl">
                            <center>
                                <p style="font-size:19px">OFFICE OF THE REGISTRAR ACADEMICS</p>
                                <h5 ng-show="length == 0">No results found</h5>
                                <h5 ng-show="length > 0">{{length}} results found</h5>
                            </center>

                            <label class="transcript">Name:</label> {{name}} <br />
                            <label class="transcript">ADM_NO:</label> {{admno}}<br />
                            <label class="transcript">Course Code</label> {{course}}<br />


                            <table class="table table-striped table-hover table-responsive table-condensed">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Unit Code</th>
                                        <th>Unit Name</th>
                                        <th>Student's points</th>
                                        <th>Grade</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in results ">
                                        <td></td>
                                        <td>{{item.unit_code}}</td>
                                        <td>{{item.unit_name}}</td>
                                        <td>{{item.student_total}}%</td>
                                        <td>{{item.grade}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <br />

        <div class="col-md-9 col-md-offset-3 col-md-10 col-md-offset-2 main">
            <div class="hidden" id="getbyperiodf" style="overflow-y:scroll">
                <div class="panel panel-default scrollable">
                    <div class="panel-heading">
                        <center class="maxwell" style="font-size:20px">Different Exam periods during semester</center>
                    </div>

                    <div class="panel-body">

                        <center>
                            <p style="font-size:19px">OFFICE OF THE REGISTRAR ACADEMICS</p>
                            <h5 ng-show="length2 == 0">No results found</h5>
                            <h5 ng-show="length2 > 0">{{length2}} results found</h5>
                        </center>
                        <center><p style="font-size:19px">TITLE:{{sem_time}}</p></center>


                        <label class="transcript">Name:</label>{{name}}<br />
                        <label class="transcript">ADM_NO:</label>{{admno}}<br />
                        <label class="transcript">Course Code</label>{{course}}<br />

                        <table class="table table-striped table-hover table-responsive table-condensed">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Unit Code</th>
                                    <th>Unit Name</th>
                                    <th>Student's points</th>
                                    <th>Total Attainable</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in resultsbyperiod ">
                                    <td></td>
                                    <td>{{item.unit_code}}</td>
                                    <td>{{item.unit_name}}</td>
                                    <td>{{item.student_total}}</td>
                                    <td>{{item.max_total}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>










    </div>


